#footer
  center
    | Hispachan Files es un proyecto no-oficial y es completamente ajeno a la administración de 
    a(href='https://www.'+settings.target+'.org/') #{settings.target}.org
    |.
    br
    a(href='mailto:'+ settings.misc.email) Contacto
    | &nbsp;/&nbsp;
    a(href='https://github.com/endnch/HispachanFiles') GitHub
    if settings.features.apiEnabled
      | &nbsp;/&nbsp;
      a(href='/api/') API