//- TODO: Generar esto dinámicamente usando boards.js
.c-nav-desktop
  div
    h3.c-nav-desktop__headline.c-nav-desktop__headline--nsfw Regional
    ul.c-nav-desktop__list
      li.c-nav-desktop__item
        img.c-nav-desktop__flag(src="https://www.hispachan.org/assets/countryballs/ar.png")
        a(href='/ar') Argentina
        span.c-nav-desktop__board-code /ar/
      li.c-nav-desktop__item
        img.c-nav-desktop__flag(src="https://www.hispachan.org/assets/countryballs/bo.png")
        a(href='/bo') Bolivia
        span.c-nav-desktop__board-code /bo/
      li.c-nav-desktop__item
        img.c-nav-desktop__flag(src="https://www.hispachan.org/buttons/banderas/centroamerica.png")
        a(href='/cc') Centroamérica
        span.c-nav-desktop__board-code /cc/
      li.c-nav-desktop__item
        img.c-nav-desktop__flag(src="https://www.hispachan.org/assets/countryballs/cl.png")
        a(href='/cl') Chile
        span.c-nav-desktop__board-code /cl/
      li.c-nav-desktop__item
        img.c-nav-desktop__flag(src="https://www.hispachan.org/assets/countryballs/co.png")
        a(href='/co') Colombia
        span.c-nav-desktop__board-code /co/
      li.c-nav-desktop__item
        img.c-nav-desktop__flag(src="https://www.hispachan.org/assets/countryballs/ec.png")
        a(href='/ec') Ecuador
        span.c-nav-desktop__board-code /ec/
      li.c-nav-desktop__item
        img.c-nav-desktop__flag(src="https://www.hispachan.org/assets/countryballs/es.png")
        a(href='/es') España
        span.c-nav-desktop__board-code /es/
      li.c-nav-desktop__item
        img.c-nav-desktop__flag(src="https://www.hispachan.org/assets/countryballs/mx.png")
        a(href='/mx') México
        span.c-nav-desktop__board-code /mx/
      li.c-nav-desktop__item
        img.c-nav-desktop__flag(src="https://www.hispachan.org/assets/countryballs/pe.png")
        a(href='/pe') Perú
        span.c-nav-desktop__board-code /pe/
      li.c-nav-desktop__item
        img.c-nav-desktop__flag(src="https://www.hispachan.org/assets/countryballs/py.png")
        a(href='/py') Paraguay
        span.c-nav-desktop__board-code /py/
      li.c-nav-desktop__item
        img.c-nav-desktop__flag(src="https://www.hispachan.org/assets/countryballs/us.png")
        a(href='us/') Estados Unidos
        span.c-nav-desktop__board-code /us/
      li.c-nav-desktop__item
        img.c-nav-desktop__flag(src="https://www.hispachan.org/assets/countryballs/uy.png")
        a(href='ur/') Uruguay
        span.c-nav-desktop__board-code /uy/
      li.c-nav-desktop__item
        img.c-nav-desktop__flag(src="https://www.hispachan.org/assets/countryballs/ve.png")
        a(href='/ve') Venezuela
        span.c-nav-desktop__board-code /ve/

  div
    h3.c-nav-desktop__headline Ocio
    ul.c-nav-desktop__list
      li.c-nav-desktop__item
        a(href='/v') • Videojuegos
        span.c-nav-desktop__board-code /v/
      li.c-nav-desktop__item
        a(href='/a') • Anime y Manga
        span.c-nav-desktop__board-code /a/
      li.c-nav-desktop__item
        a(href='/ch') • Historias y Consejos
        span.c-nav-desktop__board-code /ch/
      li.c-nav-desktop__item
        a(href='/i') • Adictos a Internet
        span.c-nav-desktop__board-code /i/
      li.c-nav-desktop__item
        a(href='/w') • Videos
        span.c-nav-desktop__board-code /w/
      li.c-nav-desktop__item
        a(href='/mu') • Música
        span.c-nav-desktop__board-code /mu/
      li.c-nav-desktop__item
        a(href='/r') • Juegos y Rol
        span.c-nav-desktop__board-code /r/
      li.c-nav-desktop__item
        a(href='/ac') • Animación y Cómics
        span.c-nav-desktop__board-code /ac/
      li.c-nav-desktop__item
        a(href='/di') • Dibujo y Arte
        span.c-nav-desktop__board-code /di/
      li.c-nav-desktop__item
        a(href='/tv') • Cine y Series
        span.c-nav-desktop__board-code /tv/

  div
    h3.c-nav-desktop__headline Intereses
    ul.c-nav-desktop__list
      li.c-nav-desktop__item
        a(href='/all') • Todos los hilos
        span.c-nav-desktop__board-code /all/
      li.c-nav-desktop__item
        a(href='/g') • General
        span.c-nav-desktop__board-code /g/
      li.c-nav-desktop__item
        a(href='/pol') • Política
        span.c-nav-desktop__board-code /pol/
      li.c-nav-desktop__item
        a(href='/z') • Libros y Literatura
        span.c-nav-desktop__board-code /z/
      li.c-nav-desktop__item
        a(href='/f') • Ejercicio, Salud y Estilo
        span.c-nav-desktop__board-code /f/
      li.c-nav-desktop__item
        a(href='/t') • Tecnología
        span.c-nav-desktop__board-code /t/
      li.c-nav-desktop__item
        a(href='/k') • Economía
        span.c-nav-desktop__board-code /k/
      li.c-nav-desktop__item
        a(href='/c') • Ciencia
        span.c-nav-desktop__board-code /c/
      li.c-nav-desktop__item
        a(href='/hu') • Humanidades
        span.c-nav-desktop__board-code /hu/
      li.c-nav-desktop__item
        a(href='/q') • LGBT+
        span.c-nav-desktop__board-code /q/
      li.c-nav-desktop__item
        a(href='/m') • Meta
        span.c-nav-desktop__board-code /m/
      li.c-nav-desktop__item
        a(href='/p') • Deportes
        span.c-nav-desktop__board-code /p/
      li.c-nav-desktop__item
        a(href='https://youtu.be/dQw4w9WgXcQ') • Tablón secreto
        span.c-nav-desktop__board-code /?/

  div
    h3.c-nav-desktop__headline.c-nav-desktop__headline--nsfw Sexy
    ul.c-nav-desktop__list
      li.c-nav-desktop__item
        a(href='/h') • Hentai
        span.c-nav-desktop__board-code /h/
      li.c-nav-desktop__item
        a(href='/d') • Fetiches
        span.c-nav-desktop__board-code /d/
      li.c-nav-desktop__item
        a(href='/o') • Chicos Sexy
        span.c-nav-desktop__board-code /o/
      li.c-nav-desktop__item
        a(href='/s') • Chicas Sexy
        span.c-nav-desktop__board-code /s/
      li.c-nav-desktop__item
        img.c-nav-desktop__flag(src="https://www.hispachan.org/assets/countryballs/ar.png")
        a(href='/sar') Argentina
        span.c-nav-desktop__board-code /sar/
      li.c-nav-desktop__item
        img.c-nav-desktop__flag(src="https://www.hispachan.org/assets/countryballs/cl.png")
        a(href='/scl') Chile
        span.c-nav-desktop__board-code /scl/
      li.c-nav-desktop__item
        img.c-nav-desktop__flag(src="https://www.hispachan.org/assets/countryballs/co.png")
        a(href='/sco') Colombia
        span.c-nav-desktop__board-code /sco/
      li.c-nav-desktop__item
        img.c-nav-desktop__flag(src="https://www.hispachan.org/assets/countryballs/es.png")
        a(href='/ses') España
        span.c-nav-desktop__board-code /ses/
      li.c-nav-desktop__item
        img.c-nav-desktop__flag(src="https://www.hispachan.org/assets/countryballs/mx.png")
        a(href='/smx') México
        span.c-nav-desktop__board-code /smx/
      li.c-nav-desktop__item
        img.c-nav-desktop__flag(src="https://www.hispachan.org/assets/countryballs/pe.png")
        a(href='/spe') Perú
        span.c-nav-desktop__board-code /spe/
      li.c-nav-desktop__item
        img.c-nav-desktop__flag(src="https://www.hispachan.org/assets/countryballs/ve.png")
        a(href='/sve') Venezuela
        span.c-nav-desktop__board-code /sve/